:root{
    --tealGrad: linear-gradient(
        rgb(11, 61, 61) 0%,
         rgba(35, 136, 136) 100%
        );
    --navyGrad: linear-gradient(
        rgb(3, 14, 44) 0%,
         rgb(29, 40, 185) 100%
        );
    --whiteGrad: linear-gradient(
        rgb(148, 153, 168) 0%,
         rgb(255, 255, 255) 100%
        );
    
}

main {
    background-image: whiteGrad;
}

.tealbg {
    background-image: var(--tealGrad);
}

.navybg {
    background-image: var(--navyGrad);
}

/* hover effects for navigation text */
.borderset {
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
}

.nava:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px black;
}

.abouttext {
    font-size: 28px;
}

.name {
    font-size: 44;
    color: black;
}

.mainshadow {
    box-shadow: 5px 10px 18px #000000;
}

.project1 {
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/poke.PNG");
    background-position: 50% 1%;
    background-size: auto; 
    outline: 2px solid;
}

.project1:hover {
    transform: scale(1.02);
}

.project2 {
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/movie.PNG");
    background-position: 0% 50%;
    background-size: auto; 
    outline: 2px solid;
}

.project2:hover {
    transform: scale(1.02);
}
.project3 {
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/note.PNG");
    background-position: 0% 0%;
    background-size: auto; 
    outline: 2px solid;
}

.project3:hover {
    transform: scale(1.02);
}

.spaceabove {
    margin-top: 200px;
}